.grid{
    display: grid;
    grid-template-columns: 1fr 5fr 15fr 1fr;
}

.profilePic{
    font-size: 40px;
    color: white;
    width: 60px;
    height: 40px;
}

.numberRating{
    display: inline-block;
    width: 20%;
}


.flexBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em;
}

.reviewScore {
    min-width: 10%;
    text-align: left;
}

.scoreContainer{
    display: flex;
    justify-content: start;
}

.starsContainer {
    flex-grow: 1;
    max-width: 50%;
    display: inline-block;
}

.reviewStars{
    display: flex;
    justify-content: space-evenly;
}


.verticallyCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.existingStar{
    max-width: 15%;
}

.deleteIconDiv {
    width: 100%;
    cursor: pointer;
}

.deleteIcon {
    max-width: 100%;
}