<div class="grid">
	<div>
		<img
			*ngIf="review!.user && review!.user.image_url; else elseBlock"
			[src]="review!.user.image_url"
			class="profilePic"
		/>
		<ng-template #elseBlock>
			<mat-icon class="profilePic">person_pin</mat-icon>
		</ng-template>
	</div>
	<div class="flexBetween">
		<div>{{ review!.user!.email }}</div>
		<div class="scoreContainer">
			<div class="reviewScore numberRating">{{ review!.rating }}/5</div>
			<div class="starsContainer">
				<div class="reviewStars">
					<mat-icon class="existingStar" *ngFor="let i of range(review!.rating)">star</mat-icon>
				</div>
			</div>
		</div>
	</div>
	<p>{{ review!.comment }}</p>
	<div class="deleteIconDiv verticallyCentered" *ngIf="currentUser?.id === review?.user?.id">
		<mat-icon class="deleteIcon" (click)="onDeleteButtonClick($event)">delete_outline</mat-icon>
		<!-- <img [src]="deleteIconPath" class="deleteIcon" (click)="onDeleteButtonClick($event)" /> -->
	</div>
</div>
