.deleteIconDiv {
    max-width: 7%;
    cursor: pointer;
}

.deleteIcon {
    max-width: 100%;
}

.existingStar{
    max-width: 20%;
}

.flexBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.verticallyCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewScore {
    min-width: 10%;
    text-align: left;
}

.reviewStars {
    max-width: 40%;
}
