@use "../../../variables.scss" as variables;
a{
    text-decoration: none;
    color: unset;
}
.bgnd-secondary{
    background-color: variables.$secondary_color;
    color: white;
    font-weight: 500;
    min-width: 750px;
}
.menus{
    display: inline-block;
    width: 70%;
    height: 100%;
}
.menu{
    display: inline-block;
    min-width: 200px;
    min-height: 100%;
    padding: 1em 0;
    font-size: x-large;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
}
.finder{
    display: inline-block;
    width: 30%;
    height: 100%;
}
.right{
    margin: 0 1em;
    box-sizing: border-box;
    justify-self: flex-end;
    text-align: right;
}
mat-form-field{
    margin: 0 1em;
}

.active{
    background-color: variables.$secondary_color_accent;
    color: white;
}
.mat-btn{
    background-color: variables.$primary_color;
    color: black;
}
mat-form-field{
    max-width: 50%;
}

input, mat-label{
    color: variables.$primary_color;
}