@use "../../../styles.scss" as s;

.mat-card {
    text-align: left;
    border-radius: 15px;
    max-width: max-content;
    width: max-content;
    max-width: 100%;
    width: 100%;
    height: 100%;
    //margin:10%; //Ne radi sa 10%...
    box-sizing: border-box;
    background-color: white;
}
.mat-card-title{
    padding: 0.25em 0;
    font-size: large;
    color: s.$purple;
}
.mat-card-subtitle{
    color: s.$purple
}


img {
    height: 300px;
    object-fit: cover;
}