<div class="bgnd">
	<div class="app">
		<ng-container *ngIf="show">
			<div class="showCard">
				<div class="showImage">
					<img src="{{ imgUrl }}" />
				</div>
				<div class="showData">
					<div class="showTitle">{{ title }}</div>
					<div class="showDescription">
						{{ description }}
					</div>
					<br />
					<div class="showDescription" id="showRating">
						<span>Average rating: <app-rating [avgRating]="avgRating"></app-rating></span>
					</div>
				</div>
			</div>
			<app-reviews [reviews]="reviews" (newReview)="storeNewReview($event)" [showId]="id"></app-reviews>
		</ng-container>
	</div>
</div>
