<div class="bgnd">
	<div class="app">
		<ng-container *ngIf="show$ | async as show">
			<div class="showCard">
				<div class="showImage">
					<img src="{{ show.imageUrl }}" />
				</div>
				<div class="showData">
					<div class="showTitle">{{ show.title }}</div>
					<div class="showDescription">
						{{ show.description }}
					</div>
					<br />
					<div class="showDescription" id="showRating">
						<span>Average rating: <app-rating [avgRating]="show.averageRating"></app-rating></span>
					</div>
				</div>
			</div>
			<app-reviews
				[reviews]="reviews"
				(newReview)="storeNewReview($event)"
				(deleteReview)="onDeleteReview($event)"
				[showId]="id"
			></app-reviews>
		</ng-container>
	</div>
</div>
