.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    display: inline;
    width: max-content;
    margin: 1em 5% 1em 5%;
    text-decoration: none;
    color: unset;
}
app-show-card{
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 300px;
}
