.rest{
    position: absolute;
    left: 25%;
    top: 0%;
    width: 75vw;
    max-width: 75vw;
    height: 100%;
}

app-navigation{
    width: 25vw;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}