$primary_color: rgb(223, 216, 120);
$secondary_color: #924bb3;
$secondary_color_accent: rgb(171, 125, 207);
$yellow_star_path: "../../../assets/yellowStar.png";
$grey_star_path: "../../../assets/greyStar.png";