@use "/src/styles.scss" as s;
// @import url("../login/login.component.scss"); // Ne mogu koristiti import jer se ne evaluiraju varijable

:host{
    height: 600px;
    width: 500px;
}

mat-card{
    min-height: 500px;
    min-width: 500px;
    text-align: center;
    padding: 5% 15%;
    box-sizing: border-box;
    border-radius: 24px;
}

mat-card-title{
    margin: 1em 0;
}

mat-form-field{
    display: block;
    margin: 1em 0;
}

p{
    margin: 1em 0;
}

a{
    text-decoration: none;
    color: unset;
    font-weight: 500;
}

button[type="submit"]{
    margin: 1.5em 0;
    background-color: white;
    padding: 0.5em 3em;
    border-radius: 32px;
    color: s.$purple;
    max-width: 50%;
}

.mat-form-field-invalid{
    mat-hint{
        color: s.$error;
    }
}