@use "../../variables.scss" as variables;
mat-form-field {
    width: 100%;
}
mat-label{
    color: black;
}
button.mat-primary{
    background-color: variables.$secondary_color;
}
mat-card,input{
    background-color: variables.$secondary_color_accent;
}
.centeredComponent{
    text-align:right;
}