mat-form-field {
    width: 100%;
}
mat-label{
    color: black;
}
button.mat-primary{
    background-color: blueviolet;
}
mat-card,input{
    background-color: #E4C484;
}
.centeredComponent{
    text-align:right;
}