@use "../../../styles.scss" as s;

:host{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0 4em 0 2em;
}
h2{
    color: white;
    font-weight: 400;
}

img{
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

input[type="button"] {
    background-color: white;
    color: s.$purple;
    display: inline-block;
    border-radius: 24px;
    font-size: large;
    font-weight: 500;
}

textarea {
    resize: none;
    font-family: inherit;
    font-size: 20px;
    color: s.$light_purple;
    margin: 10px 0;
    border-radius: 24px;
    border: none;
    padding: 1em 2em;
}

::placeholder{
    color: s.$light_purple;
    line-height: 2em;
}

.reviewsSection {
    display: flex;
    flex-direction: column;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    background-color: s.$purple;
    color: white;
    border-radius: 24px;
    padding: 2em;
    margin-top: 24px;
    width: 100%;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}


.ratingEntry {
    display: inline-block;
    width: 50%;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 15px;
} 

#stars {
    flex-grow: 1;
    max-width: calc(6.5 * 24px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.starAdd {
    max-width: 15%;
    color: s.$light_purple;
}

#addRating{
    padding: 1em;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.verticallyCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#postButton{
    display: inline-block;
    padding: 0.5em 4em;
    font-size: 14px;
    font-weight: 500;
    color: s.$purple;
    background-color: s.$very_light_purple;
    border-radius: 32px;
    cursor: pointer;
}

.buttonDiv{
    display: inline-block;
    text-align: right;
    width: 50%;
}