@use "../../../styles.scss" as s;
// Kako dodati pozadinu nekoj komponenti iz scss datoteke te komponente, umjesto iz glavnog stylea?
:host{
	background-color: s.$dark_purple;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
}

.paddingWrapper{
    padding: 3em 0 5em 0;
    width: 100%;
    box-sizing: border-box;
}
.centeredComponent{
    justify-content: center;
    width: 30%;
    min-width: 300px;
    margin: auto;
}
app-show-form {
    width: 50%;    //Zašto ovo ne radi
}
